.navigation-list { //навигация на стартовой странице
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: $width-0;

  margin: 0 auto;
  padding: 0;

  list-style: none;

  text-align: center;
}

.navigation-list__item {
  margin: 0 10px;
  padding: 10px 0;
}

.navigation-list__link {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: $font-h1;
  line-height: $line-h1;

  &:hover {
    color: $red;
    transition: color 0.5s;
    filter: drop-shadow(0 0 6px $gold);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-1) {
  .navigation-list {
    flex-direction: row;
    justify-content: space-between;

    width: $width-1-40;

    margin-top: 50px;
  }
}

@media (min-width: $width-2) {
  .navigation-list {
    width: $width-2-40;

    margin-top: 100px;
  }

  .navigation-list__link {
    font-size: $font-h2;
    line-height: $line-h2;
  }
}
