// переменные цветов
$back: #111217;
$white: #c6d2de;
$red: rgba(234, 0, 0, 0.8);
$border: #cccccc;

// переменные ширин
$width-0: 320px;
$width-1: 640px;
$width-2: 1040px;

$tablet-width: 768px;
$desktop-width: 1440px;
