// переменные цветов
$back: #000000;
$white: #c6d2de;
$red: yellow;
$border: #cccccc;
$gold: rgba(255, 215, 0, 0.6);

// переменные ширин
$width-0: 320px;
$width-1: 760px;
$width-2: 1440px;

$width-1-40: 720px;
$width-2-40: 1400px;

// переменные шрифтов
$font-h1: 18px;
$line-h1: 22px;
$font-p1: 16px;
$line-p1: 20px;

$font-h2: 24px;
$line-h2: 28px;
$font-p2: 22px;
$line-p2: 26px;

$font-h3: 30px;
$line-h3: 34px;
