.body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.body--index { //фон стартовой страницы
  position: relative;

  background-color: $back; //если вдруг изображение потеряется
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-position-x: 20%;
  // background-attachment: fixed;
}
