.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: $width-0;
  margin: 0 auto;
  padding: 20px 0; //чтобы не прилипало к верхнему и нижнему краю
}

.footer .navigation-list {
  display: flex; //было block
  flex-direction: column;

  width: auto; //в index было задано
  min-width: auto; //в index было задано
  margin: 0; //в indexe было задано
}

.footer .navigation-list__item {
  margin: 0 10px;
  padding: 10px 0;

  text-align: center;
}

.footer .social-btn-list {
  width: $width-0;
  margin: 0; // в index был задан
  padding-top: 30px;

  border-top: 1px solid $border;
}

.footer--newspage .navigation-list__link--news,
.footer--videopage .navigation-list__link--video,
.footer--artistspage .navigation-list__link--artists { //на странице news у элемента news
  pointer-events: none; //отключаем событие клика
  cursor: default; //курсор обычный при наведении

  border-bottom: 2px solid $red;
}

@media (min-width: $width-1) {
  .footer {
  width: 600px; //-40
}

.footer .social-btn-list {
  width: auto; // в мобилке было 320px
  padding-top: 0;

  border: none;
  }
}

@media (min-width: $width-2) {
  .footer {
  width: 1000px; //-40
  }

.footer .navigation-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
}
