
.footer-wrapper {
  background-color: $back; //чтобы не создавать новый эл-т
}

.footer {
  width: $width-0;
  margin: 0 auto;
}

.footer .navigation-list {
  display: flex;
  flex-direction: row;

  min-width: auto; //в index задана мин ширина

  margin: 0; //было 0 auto для центровки
}

.footer .social-btn { //кнопки соцсетей
  margin-top: 0;
}

.footer .navigation-list__item {
  text-align: center;
  padding: 10px 0;
}

.footer--newspage .navigation-list__link--news { //на странице news у элемента news
  pointer-events: none; //отключаем событие клика
  cursor: default; //курсор обычный при наведении

  border-bottom: 2px solid $red;
}

@media (min-width: $width-1) {
.footer {
  display: flex; //был block, т.к. меню появлялось под header-logo
  justify-content: space-between;
  align-items: center;

  width: 600px; //-40
  }
}
