.services-list {
  width: $width-0;

  margin: 0 auto 40px auto;
}

.services-list__service {
  width: 100%;

  margin: 0 auto;

  border: 1px solid $border;

  background-color: $back;
}

.services-list__header {
  width: 280px;
  margin: 10px auto;

  color: $white;
  text-transform: uppercase;
  font-size: $font-h1;
  line-height: $line-h1;
  font-weight: 700;
}

.services-list__text {
  width: 280px;

  margin: 0 auto 10px auto;
  padding-bottom: 10px;

  border-bottom: 1px solid $border;

  color: $white;
}

.services-list__contacts {
  width: 280px;

  margin: 0 auto 10px auto;

  color: $red;
}

@media (min-width: $width-1) {
  .services-list {
    width: $width-1-40;
  }

  .services-list__header,
  .services-list__text,
  .services-list__contacts {
    width: 680px;
  }

}

@media (min-width: $width-2) {
  .services-list {
    width: $width-2-40;
  }

  .services-list__header {
    width: 1360px;

    font-size: $font-h2;
    line-height: $line-h2;
  }

  .services-list__text,
  .services-list__contacts {
    width: 1360px;

    font-size: $font-p2;
    line-height: $line-p2;
  }

}
