.social-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 220px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;

  list-style: none;
}

.social-btn-list__link {
  display: block;
  position: relative;

  // outline: 1px solid rgba(173, 152, 225, 0.3); //временно для сетки
  // background-color: rgba(173, 152, 225, 0.3); //временно для сетки

  width: 50px; //размер ссылок
  height: 50px;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: $white;
  }

  &:hover svg {
    fill: $red;
    transition: fill 0.5s;
    filter: drop-shadow(0 0 6px rgba(198, 210, 222, 0.6));
  }

  &:active svg {
    opacity: 0.6;
  }
}

@media (min-width: $width-1) {
  .social-btn-list {
    margin-top: 100px;
}
}

@media (min-width: $width-2) {
  .social-btn-list svg {
    width: 40px;
    height: 40px;
  }
}
