.main-logo { //логотип на стартовой странице
  display: block;
  width: 320px;
  margin: 0 auto;
  margin-top: 220px;
  margin-bottom: 30px;
}

@media (min-width: $width-1) { //если viewport шире width-1
  .main-logo {
    width: $width-1-40;
  }
}

@media (min-width: $width-2) { //если viewport шире width-2
  .main-logo {
    width: $width-2-40;
  }
}
