.section-header {
  position: relative;

  margin: 0;
  padding: 16px 0;

  color: $white;

  font-size: 26px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;

  &::before, //красные линии
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    width: 80px; //размеры красных линий
    height: 2px;

    background-color: $red;
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }
}

@media (min-width: $width-1) {
  .section-header {

    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      width: 200px;
    }
  }
}

@media (min-width: $width-2) {
  .section-header {

   &::before,
   &::after {
    width: 400px;
  }
}
}
