.section-header {
  position: relative;

  padding: 40px 0;

  color: $white;
  font-size: $font-h1;
  line-height: $line-h1;
  text-transform: uppercase;
  text-align: center;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    width: 100%;
    height: 3px;

    background-color: $red;
    filter: drop-shadow(0 0 6px $gold);

    content: "";
  }
}

.section-header__head {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  margin: 0;

  background-color: $back;
}

@media (min-width: $width-1) {
  .section-header {
    font-size: $font-h2;
    line-height: $line-h2;
  }
}
