.logo {
  position: relative;

  // outline: 1px solid rgba(123, 52, 175, 0.3); //временно для сетки
  // background-color: rgba(123, 52, 175, 0.3); //временно для сетки

  & svg {
    opacity: 0.8;
    transition: 2s;
    fill: $white;
  }

  &:hover svg {
    opacity: 1;
    transition: 2s;
    filter: drop-shadow(0 0 15px rgba(198, 210, 222, 0.6));
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $width-2) { //если viewport шире width-2
  .logo svg {
    width: 500px;
    height: 80px;
  }
}
