.social-btn { //кнопки соцсетей
  margin-top: 50px;
}

.social-btn__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 200px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-btn__link {
  display: block;
  position: relative;

  width: 50px; //размер ссылок
  height: 50px;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: $white;
  }

  &:hover svg {
    fill: $red;
    filter: drop-shadow(0 0 5px rgba(198, 210, 222, 0.3));
  }

  &:active svg {
    opacity: 0.6;
  }
}
