.news-list {
  width: $width-0;
  margin: 0 auto;
}

.news-list__list {
  margin: 0;
  padding: 0;
  padding-bottom: 10px; //чтобы отступ последней новости не вываливался за контейнер

  list-style: none;
}

.news-list__item {
  margin-bottom: 15px;

  border: 1px solid $border;

  background-color: $back;
}

.news-list__img {
  display: block;
  margin: 15px auto;
}

.news-list__description { //обертка для даты, заголовка и текста
  margin: 15px 0;
  padding: 0 15px;

  color: $white;

  font-size: 14px;
  line-height: 18px;
}

.news-list__time {
  display: block;
  margin-bottom: 5px;

  color: $red;
}

.news-list__header {
  display: block;
  margin-bottom: 10px;

  color: $white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.news-list__text {
  margin: 0;
}

@media (min-width: $width-1) {
  .news-list {
    width: 600px; //-40
  }

  .news-list__item {
    display: flex;
    width: 100%;
  }

  .news-list__img {
    margin: 15px; //отступы у изображения
    margin-right: 0;
  }

  .news-list__description {
    border-left: 1px solid $border;
  }
}

@media (min-width: $width-2) {
  .news-list {
    width: 1000px; //-40
  }

  .news-list__item {
    width: 100%;
  }
}
