@font-face { //локальное подключение шрифтов
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  font-display: optional;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
}

html {
  height: 100%; //для прилипающего подвала
}

body {
  display: flex; //для прилипающего подвала
  flex-direction: column; //для прилипающего подвала
  min-height: 100%; //для прилипающего подвала

  font-family: "Roboto", Arial, sans-serif;
}

img {
  max-width: 100%;
}

@import "variables/variables.scss";

@import "other/other.scss";

@import "normalize/normalize.min.scss";

@import "background/background.scss";

@import "main-logo/main-logo.scss";

@import "popup/popup.scss";

@import "section-header/section-header.scss";

@import "navigation-list/navigation-list.scss";

@import "social-btn-list/social-btn-list.scss";

@import "header/header.scss";

@import "logo/logo.scss";

@import "menu-btn/menu-btn.scss";

@import "footer/footer.scss";

@import "artists-list/artists-list.scss";

@import "video-list/video-list.scss";

@import "news-list/news-list.scss";

@import "services-list/services-list.scss";
