@font-face { //локальное подключение шрифтов
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf"),
  url("../fonts/Roboto-Bold.ttf") format("ttf");
}

img {
  max-width: 100%;
}

@import "variables/variables.scss";

@import "body/body.scss";

@import "main-logo/main-logo.scss";

@import "navigation-list/navigation-list.scss";

@import "social-btn/social-btn.scss";

@import "header/header.scss";

@import "header-logo/header-logo.scss";

@import "newslist-wrapper/newslist-wrapper.scss";

@import "newslist/newslist.scss";

@import "section-header/section-header.scss";

@import "footer/footer.scss";
