@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}

img {
  max-width: 100%;
}

@import "variables/variables.scss";

@import "body/body.scss";

@import "main-logo/main-logo.scss";

@import "navigation/navigation.scss";

@import "social/social.scss";
