@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu { //меню в шапке по умолчанию скрыто
  display: none;

  background-color: $index-back;

  margin: 0 auto;
  padding: 0;

  list-style: none;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 20px;
}

.menu--nojs,
.menu--open {
  display: flex;
  flex-direction: column;
}

.menu--open { //анимация при открытии меню
  animation-name: slideInDown, fadeIn;
  animation-duration: 0.3s, 1s;
}

.menu__item {
  text-align: center;
  padding: 10px 0;
}

.menu__link {
  text-decoration: none;
  color: $white;

  &:hover {
    border-bottom: 2px solid $red;
  }

  &:active {
    opacity: 0.3;
  }
}
