.main-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;

  &:hover svg {
    fill: $white;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(198,210,222,0.6));
  }

  &:active svg {
    opacity: 0.6;
  }
}

@media (max-width: $width-1) {
  .main-logo svg {
    width: 800px;
  }
}

@media (max-width: $width-2) {
  .main-logo svg {
    width: 600px;
  }
}
