.artists-list {
  width: $width-0;
  margin: 0 auto;
}

.artists-list__list {
  margin: 0;
  padding: 0;
  padding-bottom: 10px; //чтобы отступ последней новости не вываливался за контейнер

  list-style: none;
}

.artists-list__item {
  width: 278px;
  margin: 0 auto;
  margin-bottom: 15px;

  border: 1px solid $border;

  background-color: $back;
}

.artists-list__img-link {
  display: block;

  width: 90%;
  margin: 15px auto; //отступы у изображения
}

.artists-list__description { //обертка для даты, заголовка и текста
  margin: 15px;

  color: $white;

  font-size: 14px;
  line-height: 18px;
}

.artists-list__header {
  display: block;
  margin-bottom: 10px;

  color: $red;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.artists-list__text {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border;
}

.artists-list__link-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.artists-list__link-item {
  margin-right: 10px;
}

.artists-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;

  font-size: 14px;
  line-height: 14px;

  &:hover {
    border-bottom: 2px solid $red;
    transition: border 0.1s;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-1) {
  .artists-list {
    width: 600px; //-40
  }

  .artists-list__list {
    display: flex;
    flex-wrap: wrap;
  }

  .artists-list__item {
    margin: 0 40px 40px 0;
  }

  .artists-list__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: $width-2) {
  .artists-list {
    width: 1000px; //-40
  }

  .artists-list__item {
    margin-right: 80px;
    margin-bottom: 80px;
  }

  .artists-list__item:nth-child(2n) {
    margin-right: 80px;
  }

  .artists-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
