.artists-list {
  width: $width-0;
  margin: 0 auto;

  // outline: 1px solid rgba(123, 52, 175, 0.3); //временно для сетки
  // background-color: rgba(123, 52, 175, 0.3); //временно для сетки
}

.artists-list__list {
  padding: 0;
  margin: 0; //чтобы не было зазора у футера
  padding-bottom: 10px; //чтобы отступ последней новости не вываливался за контейнер

  list-style: none;
}

.artists-list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 278px;
  margin: 0 auto;
  margin-bottom: 30px;

  border: 1px solid $border;

  background-color: $back;
}

.artists-list__img-link {
  display: block;
  margin: 15px; //отступы у изображения
  margin-bottom: auto;
}

.artists-list__description { //обертка для даты, заголовка и текста
  margin: 15px;

  font-size: $font-p1;
  line-height: $line-p1;

  // outline: 1px solid rgba(123, 52, 175, 0.3); //временно для сетки
  // background-color: rgba(123, 52, 175, 0.3); //временно для сетки
}

.artists-list__header {
  display: block;
  margin-bottom: 10px;

  color: $red;
  text-decoration: none;
  text-transform: uppercase;

  font-size: $font-h1;
  line-height: $line-h1;
  font-weight: 700;

  // outline: 1px solid rgba(223, 252, 175, 0.3); //временно для сетки
  // background-color: rgba(223, 252, 175, 0.3); //временно для сетки

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.artists-list__text {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border;

  color: $white;

  // outline: 1px solid rgba(73, 152, 225, 0.3); //временно для сетки
  // background-color: rgba(73, 152, 225, 0.3); //временно для сетки
}

.artists-list__link-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  // outline: 1px solid rgba(73, 152, 225, 0.3); //временно для сетки
  // background-color: rgba(73, 152, 225, 0.3); //временно для сетки
}

.artists-list__link-item {
  margin-right: 10px;
}

.artists-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  font-size: $font-p1;
  line-height: $line-p1;

  // outline: 1px solid rgba(173, 52, 25, 0.3); //временно для сетки
  // background-color: rgba(173, 52, 25, 0.3); //временно для сетки

  &:hover {
    border-bottom: 3px solid $red;
    transition: border 0.1s;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-1) {
  .artists-list {
    width: $width-1-40;
  }

  .artists-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .artists-list__item {
    margin: 0 0 30px 0;
    width: 340px;
  }
}

@media (min-width: $width-2) {
  .artists-list {
    width: $width-2-40;
  }

  .artists-list__item {
    width: 680px;
  }

  .artists-list__header {
    font-size: $font-h2;
    line-height: $line-h2;
  }

  .artists-list__description,
  .artists-list__link {
    font-size: $font-p2;
    line-height: $line-p2;
  }

  .artists-list__link-item {
  margin-right: 20px;
  }
}
