.artists-list {
  width: $width-0;
  margin: 0 auto;
}

.artists-list__list {
  margin: 0; //чтобы не было зазора у футера
  padding: 0 0 10px 0; //чтобы отступ последней  не вываливался за контейнер

  list-style: none;
}

.artists-list__item {
  display: flex;
  flex-direction: column;

  width: 318px;
  margin: 0 auto 30px auto;

  border: 1px solid $border;
  background-color: $back;
}

.artists-list__img-link {
  display: block;

  width: 290px;

  margin: 15px auto auto auto;

  flex-shrink: 0; //чтобы изображение под свой размер ужималось
}

.artists-list__description { //обертка для даты, заголовка и текста
  width: 290px;
  margin: auto auto 0 auto;

  font-size: $font-p1;
  line-height: $line-p1;
}

.artists-list__header {
  display: block;

  margin: 10px 0;

  color: $red;
  text-decoration: none;
  text-transform: uppercase;

  font-size: $font-h1;
  line-height: $line-h1;
  font-weight: 700;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.artists-list__text {
  margin: 0 0 10px 0;
  padding-bottom: 20px;

  border-bottom: 1px solid $border;
  color: $white;
}

.artists-list__link-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.artists-list__link-item {
  width: 30px;
  margin-right: 25px;
}

.artists-list__link {
  position: relative;
  display: block;

  padding: 25px 0;

  &:hover svg {
    fill: $red;
    transition: fill 0.5s;
    filter: drop-shadow(0 0 6px rgba(198, 210, 222, 0.6));
  }

  &:active svg {
    opacity: 0.6;
  }
}

.artists-list__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: $white;
}

@media (min-width: $width-1) {
  .artists-list {
    width: $width-1-40;
  }

  .artists-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .artists-list__item {
    width: 340px;
    margin: 0 0 30px 0;
  }

  .artists-list__img-link,
  .artists-list__description {
    width: 320px;
  }

  .artists-list__link svg {
    width: 25px;
    height: 25px;
  }

}

@media (min-width: $width-2) {
  .artists-list {
    width: $width-2-40;
  }

  .artists-list__item {
    width: 680px;
  }

  .artists-list__img-link,
  .artists-list__description {
    width: 650px;
  }

  .artists-list__header {
    font-size: $font-h2;
    line-height: $line-h2;
  }

  .artists-list__description {
    font-size: $font-p2;
    line-height: $line-p2;
  }
}
