@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: $width-0;
  margin: 0 auto;
  padding: 20px 0; //чтобы не прилипало к верхнему и нижнему краю
}

.header .navigation-list {
  display: none; // в мобилке меню в шапке по умолчанию скрыто

  width: auto; //в index было задано
  min-width: auto; //в index было задано
  margin: 0; //в indexe было задано
}

.header .navigation-list--nojs, //если потерялся js
.header .navigation-list--open { //открытое меню
  display: block;

  width: $width-0;
}

.header .navigation-list--open { //анимация при открытии меню
  animation-name: slideInDown, fadeIn;
  animation-duration: 0.3s, 1s;
}

.header .navigation-list__item {
   text-align: center;
}

.header--newspage .navigation-list__link--news,
.header--videopage .navigation-list__link--video { //на странице news у элемента news
  pointer-events: none; //отключаем событие клика
  cursor: default; //курсор обычный при наведении

  border-bottom: 2px solid $red;
}

@media (min-width: $width-1) {
  .header {
  width: 600px; //-40
  }

  .header .navigation-list { //меню в шапке по умолчанию скрыто
  display: flex; //было block
  flex-wrap: wrap;
  justify-content: space-between;
  }
}

@media (min-width: $width-2) {
  .header {
  width: 1000px; //-40
  }
}
