.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $index-back;
}

.header__logo { //логотип в шапке
  display: block;

  width: 91px;
  height: 100px;

  background-image: url("../img/logo.jpg");
}

.header__menu-button { //кнопка открытия меню
  position: relative;

  width: 60px;
  height: 60px;

  padding: 0;
  border: none;

  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    position: absolute;
    left: 50%;

    width: 30px;
    height: 2px;
    background-color: $white;

    content: "";

    transform: translate(-50%, 0);
  }

  &::before {
    top: 18px;
    box-shadow: 0px 11px 0px 0px $white;
  }

  &::after {
    bottom: 18px;
  }
}

.header__menu-button--open { //кнопка открытия когда меню открыто

  &::before {
    top: 29px;
    box-shadow: none;
    transform: translate(-50%, 0) rotate(-45deg);
  }

  &::after {
    bottom: 29px;
    transform: translate(-50%, 0) rotate(45deg);
  }
}
