.video-list {
  width: $width-0;
  margin: 0 auto;
}

.video-list__list {
  margin: 0;
  padding: 0;
  padding-bottom: 10px; //чтобы отступ последней новости не вываливался за контейнер

  list-style: none;
}

.video-list__item {
  margin-bottom: 15px;

  border: 1px solid $border;

  background-color: $back;
}

.video-list__description { //обертка для заголовка и видео
  margin: 15px 0;

  color: $white;

  font-size: 14px;
  line-height: 18px;
}

.video-list__header {
  display: block;
  margin-bottom: 10px;

  color: $white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.video-list__video {
  display: block;
  width: 278px;
  margin: 0 auto;

  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

@media (min-width: $width-1) {
  .video-list {
    width: 600px; //-40
  }

  .video-list__item {
    width: 100%;
  }

  .video-list__description {
    margin: 30px 0;
  }

  .video-list__header {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .video-list__video {
    width: 538px;
    height: 315px;
  }
}

@media (min-width: $width-2) {
  .video-list {
    width: 1000px; //-40
  }

  .video-list__item {
    width: 100%;
  }

  .video-list__video {
    width: 958px;
    height: 715px;
  }
}
