.video-list {
  width: $width-0;

  margin: 0 auto;
}

.video-list__list {
  margin: 0;
  padding: 0 0 10px 0; //чтобы отступ последней не вываливался за контейнер

  list-style: none;
}

.video-list__item {
  margin-bottom: 15px;

  border: 1px solid $border;

  background-color: $back;
}

.video-list__wrapper { //обертка для заголовка и видео
  margin: 15px 0;
}

.video-list__header {
  display: block;

  width: 210px;

  margin: 0 auto 10px auto;
  padding: 10px 0;

  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: $font-h1;
  line-height: $line-h1;
  font-weight: 700;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.video-list__video {
  width: 280px;

  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.video-list__video-item {
  width: 280px;
  height: 157.5px;

  margin-bottom: 25px;

  outline: 1px solid $border;
}

.video-list__video-item iframe {
  width: 100%;

  border: none;
}

.youtube {
  width: 280px;
  height: 157.5px;
}

@media (min-width: $width-1) {
  .video-list {
    width: $width-1-40;
  }

  .video-list__header {
    width: 300px;
  }

  .video-list__video {
    display: flex;
    flex-wrap: wrap;

    width: 680px;
  }

  .video-list__video-item {
    width: 210px;

    margin: 0 25px 25px 0;
  }

  .youtube {
    width: 210px;
  }

  .video-list__video-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: $width-2) {
  .video-list {
    width: $width-2-40;
  }

  .video-list__header {
    width: 500px;

    font-size: $font-h3;
    line-height: $line-h3;
  }

  .video-list__video {
    width: 1360px;
  }

  .video-list__video-item {
    margin: 0 20px 20px 0;
  }

  .video-list__video-item:nth-child(3n) {
    margin-right: 20px;
  }

  .video-list__video-item:nth-child(6n) {
    margin-right: 0;
  }

}
