@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  width: 95%;

  border: 1px solid $border;
}

.popup--hide {
  opacity: 0;
  transition: opacity 1.0s;
  z-index: -1;
}

.popup--show {
  opacity: 1;
  transition: opacity 1.0s;
  z-index: 2;
}

.popup__btn { //кнопка открытия меню
  position: absolute;

  top: 0;
  right: 0;

  width: 60px; //размеры кнопки открытия меню
  height: 60px;

  border: none;

  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }

  &::before,
  &::after {
    position: absolute;
    left: 50%;

    width: 30px; //размеры полосок
    height: 2px;
    background-color: $white;

    content: "";

    transform: translate(-50%, 0); //центруется
  }

    &::before { //верхняя полоска
    top: 29px; //смещается вниз
    transform: translate(-50%, 0) rotate(-45deg); //центруется и поворачивается
  }

  &::after { //нижняя полоска
    bottom: 29px; //смещается вверх
    transform: translate(-50%, 0) rotate(45deg); //центруется и поворачивается
  }

}

.popup__description {
  padding: 15px;
  padding-top: 50px;
}

.popup__text {
  margin: 15px 0;

  color: $white;

  font-size: $font-p1;
  line-height: $line-p1;
}
